@import url("./fonts.css");

:root {
  --star-rating-size: 2rem;
  --unchecked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='%23fff' stroke='%23666' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  --checked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='gold' stroke='%23666' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  --hovered-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='orange' stroke='%23fff' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
  --max-stars: 5;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.body-bg {
  background-color: #f2f2f2;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  transition: all 0.25s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.car-badge {
  position: absolute;
  display: block;
  left: 0;
  margin-left: -16px;
  top: 10%;
  font-size: 12px;
  color: #fff;
  padding: 0.35em 0.65em;
}

.review-form textarea {
  height: 70px;
}

.star-rating {
  width: min-content;
  padding: 0.3rem;
}

.star-rating > div {
  position: relative;
  height: var(--star-rating-size);
  width: calc(var(--star-rating-size) * var(--max-stars));
  background-image: var(--unchecked-image);
  background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label {
  position: absolute;
  height: 100%;
  background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label:nth-of-type(1) {
  z-index: 10;
  width: calc(100% / var(--max-stars) * 1);
}

.star-rating label:nth-of-type(2) {
  z-index: 9;
  width: calc(100% / var(--max-stars) * 2);
}

.star-rating label:nth-of-type(3) {
  z-index: 8;
  width: calc(100% / var(--max-stars) * 3);
}

.star-rating label:nth-of-type(4) {
  z-index: 7;
  width: calc(100% / var(--max-stars) * 4);
}

.star-rating label:nth-of-type(5) {
  z-index: 6;
  width: calc(100% / var(--max-stars) * 5);
}

.star-rating label:nth-of-type(6) {
  z-index: 5;
  width: calc(100% / var(--max-stars) * 6);
}

.star-rating label:nth-of-type(7) {
  z-index: 4;
  width: calc(100% / var(--max-stars) * 7);
}

.star-rating label:nth-of-type(8) {
  z-index: 3;
  width: calc(100% / var(--max-stars) * 8);
}

.star-rating label:nth-of-type(9) {
  z-index: 2;
  width: calc(100% / var(--max-stars) * 9);
}

.star-rating label:nth-of-type(10) {
  z-index: 1;
  width: calc(100% / var(--max-stars) * 10);
}

.star-rating input:checked + label,
.star-rating input:focus + label {
  background-image: var(--checked-image);
}
.star-rating input:checked + label:hover,
.star-rating label:hover {
  background-image: var(--hovered-image);
}

/* .star-rating > div:focus-within {
  outline: 0.25rem solid lightblue;
} */

.star-rating input,
.star-rating label > span {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.profile-form #div_id_photo {
  display: none;
}

#user-picture {
  cursor: pointer;
}

#user-picture .picture-cover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
}

#user-picture:hover .picture-cover {
  opacity: 1;
}

.social .nav-item a {
  width: 2em;
  height: 2em;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6c757d !important;
}

.review-wrap .edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1em;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.review-wrap:hover .edit-btn {
  opacity: 1;
}
